span {
    /* display: inline-block; */
    background: rgba(255, 255, 255, 0.8);
    /* box-shadow: 0 2px 0 rgba(0, 0, 0, 0.07); */
}

a {
    text-decoration: none;
    color: rgba(60, 60, 60);
    /* padding: 0.5rem; */
    /* background: rgba(255, 255, 255, 0.8); */
}

a:hover {
    color: white;
    background: rgba(60, 60, 60);
    font-size: larger;
}

.app {
    background: linear-gradient(rgb(255, 200, 200), rgb(200, 255, 200));
    min-height: 100vh;
    font-size: x-large;
    display: grid;
    gap: 20px;
    grid-template-rows: auto 1fr;
    color: rgba(60, 60, 60);
    padding-bottom: 50px;
}

.header-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr auto auto;
    /* background: rgba(255, 255, 255, 0.8); */
    background: white;
    border-bottom: 3px solid black;
    align-items: center;
    gap: 20px;
}

.header {
    padding-left: 20px;
}

.header-link a {
    margin-right: 20px;
    padding: 1rem;
}

.header span {
    padding: 1rem;
}

.header h1 {
    font-style: italic;
}

.header a {
    color: rgba(60, 60, 60);
    /* padding: 1rem; */
}

.about {
    font-size: x-large;
    color: rgba(60, 60, 60);
    padding-bottom: 20px;
    display: grid;
    justify-items: center;
    line-height: 4rem;
}

.about span {
    background: none;
    display: inline-block;
    box-shadow: none;
    padding: 1rem;
}

.about div {
    padding-bottom: 0.2rem;
}

.content {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

.item {
    display: grid;
    position: relative;
    grid-template-columns: 1fr minmax(500px, 4fr) 1fr;
    /* grid-template-rows: 1fr auto; */
}

.item img {
    max-width: 100%;
    grid-column: 2;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

.item:hover {
    cursor: pointer;
}

.item:hover img {
    filter: blur(0.5rem);
}

.item:hover span {
    font-size: larger;
    color: white;
    background: rgba(60, 60, 60);
    /* z-index: -1; */
}

.contentText {
    position: absolute;
}

.contentText span {
    padding: 1rem;
}

@media (max-width: 1100px) {
    .item {
        grid-template-columns: 1fr 400px 1fr;
    }
}

@media (max-width: 900px) {
    span {
        white-space: normal;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .item {
        grid-template-columns: 1fr 5fr 1fr;
    }

    .app {
        font-size: x-large;
    }

    .about {
        justify-items: start;
    }
}

@media (max-width: 500px) {
    .item {
        grid-template-columns: 1fr;
    }

    .app {
        font-size: x-large;
    }
}
