span {
    background: rgba(255, 255, 255, 0.9);
}

a {
    text-decoration: none;
    color: rgba(60, 60, 60);
}

a:hover {
    background: rgba(57, 255, 20);
    font-size: larger;
}

.app {
    min-height: 100vh;
    font-size: x-large;
    display: grid;
    gap: 20px;
    grid-template-rows: auto 1fr;
    color: rgba(60, 60, 60);
    padding-bottom: 50px;
}

.blurb-links a {
    text-decoration: underline;
    text-decoration-color: rgba(57, 255, 20);
}

.blurb-links a:hover {
    font-size: inherit;
    background: none;
}

.header-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr auto auto;
    background: white;
    border-bottom: 3px solid black;
    align-items: center;
    gap: 20px;
}

.header {
    padding-left: 20px;
}

.header-link a {
    margin-right: 20px;
    padding: 1rem;
}

.header span {
    padding: 1rem;
    text-decoration: underline;
    text-decoration-color: rgba(57, 255, 20);
}

.header h1 {
    font-style: italic;
}

.about {
    font-size: x-large;
    color: rgba(60, 60, 60);
    padding-bottom: 20px;
    display: grid;
    justify-items: center;
    line-height: 4rem;
}

.about span {
    background: none;
    display: inline-block;
    box-shadow: none;
    padding: 1rem;
}

.about div {
    padding-bottom: 0.2rem;
}

.content {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

.item {
    display: grid;
    position: relative;
    grid-template-columns: 1fr minmax(500px, 4fr) 1fr;
    padding-bottom: 50px;
}

.item img {
    max-width: 100%;
    grid-column: 2;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

.item:hover {
    cursor: pointer;
}

.item:hover img {
    filter: blur(0.5rem);
}

.item:hover span {
    font-size: larger;
    background: rgba(57, 255, 20);
}

.contentText {
    position: absolute;
}

.contentText span {
    padding: 1rem;
}

@media (max-width: 1100px) {
    .item {
        grid-template-columns: 1fr 400px 1fr;
    }
}

@media (min-width: 901px) {
    .blurb-links {
        display: none;
    }
}

@media (max-width: 900px) {
    span {
        white-space: normal;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .item {
        grid-template-columns: 1fr 5fr 1fr;
    }

    .app {
        font-size: x-large;
    }

    .blurb-links {
        display: none;
    }
}

@media (max-width: 640px) {
    .header-link {
        display: none;
    }

    .header-container {
        justify-items: center;
    }

    .app {
        font-size: medium;
    }

    .contentText span {
        padding: 0.5rem;
    }

    .blurb {
        display: none;
    }

    .blurb-links {
        display: block;
    }
}

@media (max-width: 500px) {
    .item {
        grid-template-columns: 1fr;
    }
}
