html {
    box-sizing: border-box;
    /* A system font stack so things load nice and quick! */
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol'; */
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 900;
    font-size: 10px;
    color: #272727;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

body {
    margin: 0;
}
